* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20px;
  background-color: whitesmoke;
}

header {
  height: 90px;
  text-align: center;
  color: aliceblue;
  background-color: #c30000;
  border-bottom: dashed 4px;
  padding: 20px;
  margin-bottom: 10px;
}

h1 {
  font-size: 40px;
}

.menu {
  border: 10px whitesmoke solid;
  background-color: whitesmoke;
}

.menu-item {
  float: left;
  border-bottom: 10px whitesmoke solid;
  background-color: #ffea00;   
  border-radius: 50px 0px 50px 0px;
}

.title {
  color: whitesmoke;
  width: 30%;
  padding: 1%;
  position: relative;
  left: 70%;
  background-color: #c30000;
}

.description {
  padding: 5%;
}

@media (min-width: 992px) {
  .menu-item {
    width: 33.33%;
    height: 260px;
  }

  .samosa {
    border-left: 10px whitesmoke solid;
  }

  .chhole-bhature {
    border-left: 10px whitesmoke solid;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .menu-item {
    width: 50%;
    height: 245px;
  }

  .samosa {
    border-left: 10px whitesmoke solid;
  }

  .chhole-bhature {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .menu-item {
    width: 100%;
    height: 40%;
  }
}